
<div class="hero-unit">
	<div class="row">
		<img src="/images/hero-wide-opt.jpg"> 
	</div>
</div>
<div class ="row">
	<div class="span4"> 
		<h2><img src="/images/bs-docs-bootstrap-features.png"></h2> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet scelerisque tortor. Fusce lobortis ut leo ac viverra. 
			Suspendisse hendrerit risus libero</p> 
	</div>
	<div class="span4"> 
		<h2><img src="/images/bs-docs-responsive-illustrations.png"></h2> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet scelerisque tortor. Fusce lobortis ut leo ac viverra. 
			Suspendisse hendrerit risus libero</p> 
	</div>
	<div class="span4"> 
		<h2><img src="/images/bs-docs-bootstrap-features.png"></h2> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet scelerisque tortor. Fusce lobortis ut leo ac viverra. 
			Suspendisse hendrerit risus libero</p> 
	</div>
</div>

