<h1> Bienvenido <%= current_user.email %></h1>

<div class="row">
	<div class="span4">
		<h2>Nueva Rutina</h2>
		<p>Empieza con tu rutina de ejercicios ya!</p>
	</div>
	<div class="span4">
		<h2>Tiempo ejercitado</h2>
	</div>
	<div class="span4">
		<h2>Calorias Quemadas</h2>
	</div>
</div>

